<style>
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer-logo img {
    height: 50px;
    width: auto;
  }
</style>

<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="{{ base_url }}/images/Icono_TX.png" alt="Logo CIFP Txurdinaga">
        </div>
        <div class="footer-text">
          Jose Insausti - CIFP Txurdinaga LHII
        </div>
      </div>
    </div>
  </div>
</footer>
